@layout('layouts.auth')
@section('content')
<section>
    <div class="row m-0 p-0">
        <div class="col-md-8 bg-gradient h-a-100">
            <div>

            </div>
        </div>
        <div class="col-md-4 bg-light h-a-100">
            <form action="{{route('login')}}" method="post">
                
            </form>
        </div>
    </div>
</section>
@endsection