$dimensions:(
    100,
    75,
    50,
    25
);

@each $dim in $dimensions{
    .h-#{$dim}{
        height: #{$dim + '%'};
    }
    .h-a-#{$dim}{
        height: #{$dim}vh;
    }
    .w-#{$dim}{
        width: #{$dim + '%'};
    }
    .w-a-#{$dim}{
        width: #{$dim}vw;
    }
}