<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title()}}</title>
        <link 
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"
        >
        {{style('css/bootstrap.css')}}
        {{style('css/default')}}
        {{style('css/fa')}}
    </head>
    <body>
        <section class="jumbotron jumbotron-fluid h-a-100 w-a-100">
            <nav class="navbar navbar-expand-sm fixed-top">
                <div class='navbar-brand'>
                    <h3 class="fg-primary">PetHERO</h3>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li id="home" class="nav-item">
                            <a href="/"  class="nav-link">About Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
            @!section('content')
        </section>
        {{ script('js/loader.js') }}
        <script>
            let { pathname } = window.location;
            switch(pathname){
                case '/':
                    $('#home').addClass('active');
                break;
            }
        </script>
        @!section('script')
    </body>
</html>