<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link 
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
            crossorigin="anonymous"
        >
        <title> HeyU | 
            @section('title') 
                chat api for your app 
            @endsection 
        </title>
        {{ style('css/style') }}
        {{ style('css/app') }}
    </head>
    <body>
        @!section('content')
        {{script('js/app')}}
        {{ script('js/jquery-3.3.1.slim.min.js') }}
        {{ script('js/1.14.7-popper.min.js') }}
        {{ script('js/4.3.1-bootstrap.min.js') }}
    </body>
</html>